/* --- CSS reset + default styles --- */
@font-face {
    font-family: WorkSans_Bold;
    src: url('/assets/fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: WorkSans_Bold;
    src: url('/assets/fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: WorkSans_Bold;
    src: url('/assets/fonts/WorkSans-Bold.ttf') format('truetype');
}

*, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-family: 'WorkSans_Bold';
    color: #35373D;
    margin: 0;
}

h1 {
    font-size: 64px;
    line-height: 135%;
    /* or 86px */
}

h2 {
    font-size: 48px;
    line-height: 135%;
    /* or 65px */
}

h3 {
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
}

h4 {
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
}

h5 {
    font-size: 28px;
    line-height: 123.8%;
    /* identical to box height, or 35px */
}

h6 {
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
}

/* --- */

/* --- Main piere.lv --- */

#piere_main {
    min-height: 100%;
    margin-bottom: -69px;
}

/* --- Header piere.lv --- */

/* --- Footer piere.lv --- */

#piere_footer_divider {
    height: 69px;
}

footer {
    display: flex;

    padding: 20px 150px;
    height: 69px;

    background: #EAE7F0;
}

footer p {
    width: 50%;
}

footer p:nth-child(2){
    text-align: right;
}

/* --- First section --- */

