/* --- CSS reset + default styles --- */
@font-face {
    font-family: Gilroy_ExtraBold;
    src: url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: WorkSans_Bold;
    src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: WorkSans_Regular;
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: WorkSans_SemiBold;
    src: url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: WorkSans_Light;
    src: url('../fonts/WorkSans-Light.ttf') format('truetype');
}

*, p, ul {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;

    font-family: 'WorkSans_Regular';
    color: #5C616E;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'WorkSans_Bold';
    color: #35373D;
    margin: 0;
}

h1 {
    font-size: 64px;
    line-height: 135%;
    /* or 86px */
}

h2 {
    font-size: 48px;
    line-height: 135%;
    /* or 65px */
}

h3 {
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
}

h4 {
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
}

h5 {
    font-size: 28px;
    line-height: 123.8%;
    /* identical to box height, or 35px */
}

h6 {
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 44px;
        line-height: 135%;
        /* or 59px */
    }
    
    h2 {
        font-size: 36px;
        line-height: 135%;
        /* or 49px */
    }
    
    h3 {
        font-size: 28px;
        line-height: 150%;
        /* identical to box height, or 42px */
    }
    
    h4 {
        font-size: 24px;
        line-height: 150%;
        /* identical to box height, or 36px */
    }
    
    h5 {
        font-size: 20px;
        line-height: 123.8%;
        /* identical to box height, or 25px */
    }
    
    h6 {
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */
    }
}

p {
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
}

@media screen and (max-width: 425px) {
    p {
        font-size: 16px;
        line-height: 180%;
        /* or 29px */
    }
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#786EC6;
}

.btn:active, .btn:focus {
    background: none;
    box-shadow: none;
    border: none;
}

/* ------ Header Piere ------ */

#piere_header {
    display: grid;
    align-items: center;

    padding: 40px 150px;
    height: auto;
}

@media screen and (max-width: 1024px) {
    #piere_header {
        padding: 40px 40px;
    }
}

@media screen and (max-width: 425px) {
    #piere_header {
        padding: 40px 25px;
    }
}

/* --- Logo --- */

.header_logo {
    grid-row: 1;
    grid-column: 1;
}

.piere_logo {
    font-family: 'Gilroy_ExtraBold';
    line-height: 44px;
}

.piere_logo a:hover {
    color: #35373D;
}

@media screen and (max-width: 425px) {
    .piere_logo {
        line-height: 44px;
    }
}

/* --- Header navigation --- */

#header_links {
    grid-row: 1;
    grid-column: 3;
}

@media screen and (max-width: 1024px) {
    #header_links {
        display: none;
    }
}

#header_links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style-type: none;

    font-family: 'WorkSans_Regular';
    font-size: 18px;
    line-height: 21px;

    color: #1B1B1B;
}

#header_links ul li {
    position: relative;
}

#header_links ul li.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 50%;
    height: 3px;
    background-color: #786EC6;
    border-radius: 8px;
}

/* --- Header form --- */

.header_form {
    grid-row: 1;
    grid-column: 4;

    justify-self: center;
}

.header_form .btn {
    margin: 0;
    padding: 20px 44px;

    width: 182px;
    height: 60px;

    font-family: 'WorkSans_SemiBold';
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    background: #786EC5;
    border-radius: 56px;
    box-shadow: 0px 8px 15px rgba(120, 110, 198, 0.3);

    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
    .header_form .btn {
        padding: 13px 25px;
    
        width: 151px;
        height: 45px;
    
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    }
}

.header_form .btn:hover {
    background: #867cd4;
}

/* ------ Footer Piere ------ */

#piere_footer {
    flex-shrink: 0;
    height: auto;

    background: #FCFAFF;
}

/* --- Footer contacts --- */

#footer_contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 44px;

    padding: 172px 150px 50px;
    height: auto;
}

@media screen and (max-width: 1024px) {
    #footer_contacts { 
        padding: 177px 40px 50px;
    }
}

@media screen and (max-width: 425px) {
    #footer_contacts {
        flex-direction: column;
    
        padding: 278px 25px 30px;
    }
}

#footer_contacts div p:nth-child(2) {
    margin-top: 14px;
}

@media screen and (max-width: 425px) {
    #footer_contacts div p:nth-child(2) {
        margin-top: 16px;
    }
}

#footer_contacts_map {
    padding: 0;
    border: 0;

    font-family: 'WorkSans_SemiBold';
    color: #786EC6;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
}

@media screen and (max-width: 425px) {
    #footer_contacts_map {
        font-size: 16px;
        line-height: 180%;
    }
}

/* --- Footer contacts --- */

#footer_map {
    display: none;

    height: 500px;
}

#footer_map iframe {
    width: 100%;
    height: 500px;

    border: none;
}

@media screen and (max-width: 1024px) {
    #footer_map {
        height: 400px;
    }
    
    #footer_map iframe {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    #footer_map {
        height: 300px;
    }
    
    #footer_map iframe {
        height: 300px;
    }
}

@media screen and (max-width: 425px) {
    #footer_map {
        height: 500px;
    }
    
    #footer_map iframe {
        height: 500px;
    }
}

/* --- Footer copyright --- */

#footer_copyright {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

    padding: 20px 150px;
    height: auto;

    gap: 16px;

    background: #EAE7F0;

    font-size: 18px;
    line-height: 180%;
    /* or 32px */

    color: #35373D;
}

@media screen and (max-width: 1024px) {
    #footer_copyright { 
        padding: 18px 40px; 
    }
}

@media screen and (max-width: 425px) {
    #footer_copyright {
        padding: 32px 27px;

        font-size: 16px;
        line-height: 180%;
        /* identical to box height, or 29px */
    }
}

/* ------ Main Piere ------ */

#piere_main {
    flex: 1 0 auto;
}

/* --- First section --- */

#main_testblock {
    margin: 40px 0;
    padding: 0 150px;

    background: linear-gradient(194.37deg, #FCFBFF 5.7%, rgba(251, 250, 254, 0) 26.42%), linear-gradient(99.2deg, rgba(248, 247, 255, 0.4) 1.7%, rgba(245, 243, 255, 0) 56.37%, rgba(228, 224, 244, 0.02911) 70.62%, rgba(248, 247, 255, 0.4) 97.69%);
}

@media screen and (max-width: 1024px) {
    #main_testblock {
        padding: 0 40px;
    }
}

@media screen and (max-width: 425px) {
    #main_testblock {
        padding: 0 20px;
    }
}

/* --- Widget form section --- */

#main_widget_form {
    padding: 0 150px;
}

@media screen and (max-width: 1024px) {
    #main_widget_form {
        padding: 0 40px;
    }
}

@media screen and (max-width: 425px) {
    #main_widget_form {
        padding: 0 40px;
    }
}

#main_widget_form_wrapper {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    z-index: 1;
    margin-bottom: -100px;
    height: 200px;
    width: 100%;

    background: #786EC6;
    border-radius: 35px;
    box-shadow: 0px 8px 15px rgba(120, 110, 198, 0.3);
}

@media screen and (max-width: 768px) {
    #main_widget_form_wrapper {
        height: 390px;
        max-width: 378px;
    }
}

@media screen and (max-width: 425px) {
    #main_widget_form_wrapper {
        margin-bottom: -195px;
    }
}

#widget_form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;

    padding: 10px 10px;
    width: 100%;

    color: white;
}

@media screen and (max-width: 768px) {
    #widget_form {
        flex-direction: column;
        width: unset;
    }
}

.widget_form_text {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .widget_form_text {
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .widget_form_text {
        gap: 20px;

        width: 100%;
    }
}

.widget_form_text div:nth-child(1) {
    margin-top: 4px;
}

.widget_form_text div img {
    width: 35px;
    height: 35px;
}

.widget_form_text h3 {
    line-height: 123.8%;
    /* identical to box height, or 45px */
    color: white;
}

@media screen and (max-width: 1024px) {
    .widget_form_text h3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 425px) {
    .widget_form_text h3 {
        font-size: 28px;
    }
}

.widget_form_text p {
    font-family: 'WorkSans_Light';
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .widget_form_text p {
        font-size: 20px;
        line-height: 180%;
        /* identical to box height, or 36px */
    }
}

#widget_form div .btn {
    margin: 0;
    padding: 20px 44px 19px;

    width: auto;
    height: auto;

    font-family: 'WorkSans_SemiBold';
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    border: 2px solid white;
    border-radius: 56px;

    color: #FFFFFF;
}

#widget_form div .btn:hover {
    background: #867cd4;
}

/* --- Second section --- */

#main_section_two {
    display: flex;
    align-items: flex-end;

    padding: 200px 150px 96px;
}

@media screen and (max-width: 1024px) {
    #main_section_two {
        padding: 200px 40px 96px;
    }
}

@media screen and (max-width: 768px) {
    #main_section_two {
        flex-direction: column;

        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    #main_section_two {
        padding: 278px 40px 96px;
    }
}

#section_two_text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 56%;
}

@media screen and (max-width: 768px) {
    #section_two_text {
        width: 100%;
    }
}

#section_two_widgets {
    display: flex;
    flex-direction: column;
    gap: 22px;

    margin-left: 40px;
    width: 44%;
}

@media screen and (max-width: 1024px) {
    #section_two_widgets {
        gap: 15px;

        margin-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    #section_two_widgets {
        margin-top: 32px;
        margin-left: 0;
        width: auto;
    }
}

.st_widget_wrapper {
    width: auto;
    height: auto;
}

.st_widget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    width: auto;
    height: auto;

    margin: 14px 45px 14px 89px;

    color: white;
}

.st_widget_wrapper:nth-child(2) .st_widget {
    margin: 14px 89px 14px 45px;
}

@media screen and (max-width: 1024px) {
    .st_widget {
        margin: 14px 36px 14px 64px;
    }
    
    .st_widget_wrapper:nth-child(2) .st_widget {
        margin: 14px 67px 14px 24px;
    }
}

.st_widget_text{
    display: flex;
    flex-direction: column;

    gap: 0;
}

.st_widget_text h3{
    line-height: 123.8%;
    /* identical to box height, or 45px */

    color: white;
}

.st_widget_text p{
    font-family: 'WorkSans_Light';
    font-size: 24px;
}

@media screen and (max-width: 1024px) {
    .st_widget_text h3{
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */
    }

    .st_widget_text p{
        font-size: 20px;
    }
}

.st_widget_wrapper:nth-child(1) {
    margin-left: auto;

    border-radius: 130px 30px 60px 10px;
    background: linear-gradient(87.33deg, #786EC6 -22.81%, #F65868 107.63%);
}

.st_widget_wrapper:nth-child(2) {
    margin-right: auto;

    border-radius: 60px 10px 130px 30px;
    background: linear-gradient(87.33deg, #786EC6 3.39%, #F65868 107.93%);
}







/* --- Media queries for dev --- */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* Tablet */
@media screen and (max-width: 768px) {

}

/* Mobile L */
@media screen and (max-width: 425px) {

}

/* Mobile S */
@media screen and (max-width: 320px) {

}