/* --- CSS reset + default styles --- */
@font-face {
    font-family: WorkSans_Bold;
    src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: WorkSans_Regular;
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

*, p {
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#786EC6;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;

    font-family: 'WorkSans_Regular';
    color: #5C616E;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'WorkSans_Bold';
    color: #35373D;
    margin: 0;
}

h1 {
    font-size: 64px;
    line-height: 135%;
    /* or 86px */
}

h2 {
    font-size: 48px;
    line-height: 135%;
    /* or 65px */
}

h3 {
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
}

h4 {
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
}

h5 {
    font-size: 28px;
    line-height: 123.8%;
    /* identical to box height, or 35px */
}

h6 {
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
}

/* --- Media queries for dev --- */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* Tablet */
@media screen and (max-width: 768px) {

}

/* Mobile L */
@media screen and (max-width: 425px) {

}

/* Mobile S */
@media screen and (max-width: 320px) {

}

/* --- Header piere.lv --- */



/* --- Footer piere.lv --- */

#piere_footer {
    flex-shrink: 0;
    height: auto;

    background: #FCFAFF;
}

#footer_contacts {
    padding: 172px 150px 50px;
    height: auto;
}

#footer_copyright {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

    padding: 20px 150px;
    height: auto;

    gap: 16px;

    background: #EAE7F0;

    font-size: 18px;
    line-height: 180%;
    /* or 32px */

    color: #35373D;
}

@media screen and (max-width: 1024px) {
    #footer_copyright { 
        padding: 18px 40px; 
    }
}

@media screen and (max-width: 425px) {
    #footer_copyright {
        padding: 32px 27px;

        font-size: 16px;
        line-height: 180%;
        /* identical to box height, or 29px */
    }
}

/* --- Main piere.lv --- */

#piere_main {
    flex: 1 0 auto;
}

/* --- First section --- */

